---
---

@import "{{ site.theme }}";

#main-content {
	width: initial;
}

#sidebar {
	display: none;
}

header h2 {
	padding-left: 2em;
	text-transform: lowercase;
}

pre code {
	background-color: #f2f8fc;
}

.clearfix:after {
	margin-bottom: 5em;
}

a code {
	color: #d02879;
}

a {
	color: #d02879;
}

p a {
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

p {
	margin-bottom: 13px;
}

pre {
	border-left: solid 4px #2879d0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 13px;
}
