dl.class {
	display: none
}

div.admonition {
	border-style: solid;
	border-width: 2px;
	border-radius: unset;
	width: fit-content;
}

div.warning {
	border-color: orange;
}

div.header {
	background: url(https://www.haiku-os.org/images/haiku_logo_black.png) no-repeat scroll 0 0 transparent;
	padding: unset;
	margin: 0 40px;
}

div.header > h1.heading, div.header > h2.heading {
	padding-left: 392px;
}
